<h1>POSTS</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
		<span id="data">
			<%= render @posts %>
		</span>
	</tbody>
</table>

<br>

<%= render 'new', local: @post %>
